@model OnlineTechShop.Models.BuyingAgent

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Buying History</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">


    <link href="~/Contents/vendor/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/Contents/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Contents/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Contents/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Contents/CSS_Files/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <style>
        .featured-item-box {
            min-height: 150px;
            background: #3b555d;
            min-width: 80px;
            color: white;
            border-radius: 5px;
            padding-top: 30px;
        }
    </style>
</head>

<body>
    <header id="header" class="">
        <div class="container d-flex align-items-center">
            <div class="row justify-content-center">
                <div class="col">
                    <h1 class="logo text-center"><a href="/BuyingAgentHome" class="text-success" style="margin-left:15em">Online Tech Shop</a></h1>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <!--Main Body Starts-->
    <main id="main ">
        <div class="container">
            <div class="row mt-2 justify-content-around">
                <div class="col-12 col-lg-3 border border-secondary rounded p-3">
                    @if (Session["buyingAgent_profile_pic"] == null)
                    {
                        <img class="featured-product-img" src="~/Contents/vendor/Images/default_product_pic.png" />
                    }
                    else
                    {
                        <img class="featured-product-img" src="~/Contents/Upload_Files/Buying_Agent/ProfilePic/@Session["buyingAgent_profile_pic"]" />
                    }
                    <div class="text-left mt-2">
                        <h5>@Model.FullName</h5>
                        <h6>@Model.Email</h6>
                        <h6>@Model.Phone</h6>
                    </div>
                    <a class="btn-block btn-primary rounded btn-sm" href="/BuyingAgentProfile/Edit/@Model.Id">Edit Profile Info</a>
                    <a class="btn-block btn-success rounded btn-sm" href="/BuyingAgentProfile/BuyingHistory/@Model.Id">View Buying History</a>
                    <a class="btn-block btn-warning rounded btn-sm" href="/BuyingAgentProfile/ChangePassword/@Model.Id">Change Password</a>
                    <a class="btn-block btn-danger rounded btn-sm" href="/BuyingAgentLogOut">Logout</a>
                </div>
                <div class="col-12 col-lg-9 border border-secondary rounded p-3">
                    <h5>Buying History : </h5>
                    <p style="margin-right: 5em">
                        @Html.ActionLink("Export To PDF", "ExportPdf")
                    </p>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Customer ID</th>
                            <th>Product Name</th>
                            <th>Product Description</th>
                            <th>Status</th>
                            <th>Buying Price</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Features</th>
                            <th>Quantity</th>
                            <th>Purchased Date</th>
                        </tr>
                        @foreach(var item in ViewBag.Data)
                        {
                            <tr>
                                <td>@item.CustomerId</td>
                                <td>@item.ProductName</td>
                                <td>@item.ProductDescription</td>
                                <td>@item.Status</td>
                                <td>@item.BuyingPrice</td>
                                <td>@item.Category</td>
                                <td>@item.Brand</td>
                                <td>@item.Features</td>
                                <td>@item.Quantity</td>
                                <td>@item.PurchasedDate</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container d-md-flex py-4">
            <a href="/Home" style="margin-left: 30em"> Online Tech Shop &nbsp; </a> <p style="margin-right: 30em"> &copy All rights reserved </p>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>
    <script src="~/Contents/vendor/jquery/jquery.min.js"></script>
    <script src="~/Contents/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Contents/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Contents/vendor/php-email-form/validate.js"></script>
    <script src="~/Contents/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Contents/vendor/counterup/counterup.min.js"></script>
    <script src="~/Contents/vendor/venobox/venobox.min.js"></script>
    <script src="~/Contents/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Contents/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Contents/vendor/aos/aos.js"></script>
    <script src="~/Contents/Scripts_Files/main.js"></script>
    <script src="~/Contents/Scripts_Files/customerRegistration.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>

</html>
