@model IEnumerable<OnlineTechShop.Models.Product>
@{
    Layout = "~/Views/Shared/_LayoutSalesExecutive.cshtml";
}


<div class="w3-container tab">
    <div style="float:left"> <h2 style="text-align:center"> Product List </h2></div>
    <div class="dropdown" style="float:left; padding:15px;">

        <button class="dropbtn" style="text-align:right">Filter By</button>
        <div class="dropdown-content">
            @Html.ActionLink("Available Products", "AvailableProducts", "SalesExecutive")
            @Html.ActionLink("Upcoming Products", "UpcomingProducts", "SalesExecutive")
            @Html.ActionLink("Discount Products", "DiscountProducts", "SalesExecutive")
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Features)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Images)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                  
                    @Html.ActionLink("Add to Cart", "AddToCart", "SalesExecutive", new { id = item.Id }) 
                   
                </td>
            </tr>
        }

    </table>
</div>

