@model IEnumerable<OnlineTechShop.Models.Old_Products>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Used Products</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <script src="~/Contents/vendor/jquery/jquery.min.js"></script>

    <script src="~/Contents/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Contents/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Contents/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/Contents/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Contents/CSS_Files/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <style>

        .table-view {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
        }

            .table-view th,
            .table-view td {
                padding: 0.75rem;
                vertical-align: top;
                border-top: 1px solid #dee2e6;
            }
    </style>
</head>
<header id="header" class="">
    <div class="container d-flex align-items-center">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-1">

            </div>

            <div class="col-12 col-lg-12">
                <nav class="nav-menu d-none d-lg-block">

                    <ul>
                        <li class="dropdown-header">
                            <a href="/AdminDashboard/">Dashboard</a>
                        </li>
                        <li class="dropdown-header">
                            <a href="/AdminProfile">Profile</a>
                        </li>
                        <li class="drop-down">
                            <a href="/AdminList">Admins</a>
                            <ul>
                                <li><a href="/AdminList">Admin List</a></li>
                                <li><a href="/AdminList/Create">Add Admin</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/SalesExecutiveList">Sales Executives</a>
                            <ul>
                                <li><a href="/SalesExecutiveList">Sales Executive List</a></li>
                                <li><a href="/SalesExecutiveList/Create">Add Sales Executive</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/BuyingAgentList">BuyingAgents</a>
                            <ul>
                                <li><a href="/BuyingAgentList">Buying Agent List</a></li>
                                <li><a href="/BuyingAgentList/Create">Add Buying Agent</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/ProductList">Products</a>
                            <ul>
                                <li><a href="/ProductList">Product List</a></li>
                                <li><a href="/ProductList/Create">Add Products</a></li>
                                <li><a href="/ProductList/Add">Add Quantity</a></li>
                                <li><a href="/OldProductList">Used Products</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-header">
                            <a href="/PurchaseList">Purchases</a>
                        </li>
                        <li class="drop-down">
                            <a href="/CustomerList">Customers</a>
                            <ul>
                                <li><a href="/CustomerList">Active Customers</a></li>
                                <li><a href="/CustomerList/Restricted">Restricted Customers</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-header">
                            <a href="/Sales">Sales</a>
                        </li>
                        <li class="dropdown-header">
                            <a href="/Profits">Profits</a>
                        </li>
                        <li class="drop-down">
                            <a href="/AdminSettings">Settings</a>
                            <ul>
                                <li><a href="/AdminSettings">Update Profile</a></li>
                                <li><a href="/AdminSettings/ChangePassword">Change Password</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-header">
                            <a href="/Logout">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>
<main id="main ">
    <div class="container">
        <br /><br /><br /><br /><br />
        <div class="row mt-2 justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <table class="table-view">
                    @foreach (var item in Model)
                    {
                            <tr>
                                <td rowspan="13">
                                    <img src="~/Contents/Upload_Files/Products/@Html.DisplayFor(modelItem => item.Images)" alt="" height="100" width="100" />
                                </td>
                                <td width="15%"><label class="col-form-label-sm">Name</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.ProductName)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Description</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.ProductDescription)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Features</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.Features)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Category</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.Category)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Brand</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.Brand)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Quantity</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.Quantity)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Buying Price</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.BuyingPrice)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Selling Price</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.SellingPrice)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Status</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.Status)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Discount</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.Discount)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Tax</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.Tax)</label></td>
                            </tr>

                            <tr>
                                <td><label class="col-form-label-sm">Source</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.Source)</label></td>
                            </tr>
                            <tr>
                                <td><label class="col-form-label-sm">Seller</label></td>
                                <td><label class="col-form-label-sm">@Html.DisplayFor(modelItem => item.Customer.FullName)</label></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        }

                </table>
            </div>
        </div>
    </div>
</main>