
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Change Password</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <script src="~/Contents/vendor/jquery/jquery.min.js"></script>
    <script src="~/Contents/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Contents/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/Contents/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Contents/CSS_Files/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">


</head>
<header id="header" class="">
    <div class="container d-flex align-items-center">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-1">

            </div>

            <div class="col-12 col-lg-12">
                <nav class="nav-menu d-none d-lg-block">

                    <ul>
                        <li class="dropdown-header">
                            <a href="/AdminDashboard/">Dashboard</a>
                        </li>
                        <li class="dropdown-header">
                            <a href="/AdminProfile">Profile</a>
                        </li>
                        <li class="drop-down">
                            <a href="/AdminList">Admins</a>
                            <ul>
                                <li><a href="/AdminList">Admin List</a></li>
                                <li><a href="/AdminList/Create">Add Admin</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/SalesExecutiveList">Sales Executives</a>
                            <ul>
                                <li><a href="/SalesExecutiveList">Sales Executive List</a></li>
                                <li><a href="/SalesExecutiveList/Create">Add Sales Executive</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/BuyingAgentList">BuyingAgents</a>
                            <ul>
                                <li><a href="/BuyingAgentList">Buying Agent List</a></li>
                                <li><a href="/BuyingAgentList/Create">Add Buying Agent</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/ProductList">Products</a>
                            <ul>
                                <li><a href="/ProductList">Product List</a></li>
                                <li><a href="/ProductList/Create">Add Products</a></li>
                                <li><a href="/ProductList/Add">Add Quantity</a></li>
                                <li><a href="/OldProductList">Used Products</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-header">
                            <a href="/PurchaseList">Purchases</a>
                        </li>
                        <li class="drop-down">
                            <a href="/CustomerList">Customers</a>
                            <ul>
                                <li><a href="/CustomerList">Active Customers</a></li>
                                <li><a href="/CustomerList/Restricted">Restricted Customers</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-header">
                            <a href="/Sales">Sales</a>
                        </li>
                        <li class="dropdown-header">
                            <a href="/Profits">Profits</a>
                        </li>
                        <li class="drop-down">
                            <a href="/AdminSettings">Settings</a>
                            <ul>
                                <li><a href="/AdminSettings">Update Profile</a></li>
                                <li><a href="/AdminSettings/ChangePassword">Change Password</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-header">
                            <a href="/Logout">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>


<main id="main ">
    <div class="row mt-2 justify-content-center">
        <div class="col-12 col-lg-4 text-center">
            @using (Html.BeginForm("ChangePassword", "AdminSettings", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-12">
                    <div class="modal-dialog" style="margin-top:100">
                        <div class="modal-content">

                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Enter your current password" />
                                    <div class="text-danger">
                                        @TempData["msg1"]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="newPassword" placeholder="Enter your new password" data-val="true" data-val-required="New password cannot be empty!!" data-val-length-min="6" data-val-length="Too Short" />
                                    @Html.ValidationMessage("newPassword", "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="confirmPassword" placeholder="Re-enter your new password" data-val="true" data-val-required="Password cannot be empty!!" data-val-length-min="6" data-val-length="Too Short" />
                                    @Html.ValidationMessage("confirmPassword", "", new { @class = "text-danger" })
                                    <div class="text-danger">

                                        @TempData["msg2"]
                                    </div>
                                </div>
                                <input type="submit" value="Save" class="btn btn-block btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

<script src="~/Contents/vendor/jquery/jqs/jquery-1.8.2.intellisense.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery-1.8.2.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery-1.8.2.min.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery-ui-1.8.24.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery-ui-1.8.24.min.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery.unobtrusive-ajax.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery.validate-vsdoc.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery.validate.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery.validate.min.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery.validate.unobtrusive.js"></script>
<script src="~/Contents/vendor/jquery/jqs/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Contents/vendor/jquery/jqs/knockout-2.2.0.debug.js"></script>
<script src="~/Contents/vendor/jquery/jqs/knockout-2.2.0.js"></script>
<script src="~/Contents/vendor/jquery/jqs/modernizr-2.6.2.js"></script>