@model OnlineTechShop.Models.Admin

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Admin Dashboard</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <script src="~/Contents/vendor/jquery/jquery.min.js"></script>
    <script src="~/Contents/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Contents/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/Contents/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Contents/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Contents/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Contents/CSS_Files/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <style>

        .featured-item-box {
            min-height: 150px;
            background: #3b555d;
            min-width: 80px;
            color: white;
            border-radius: 5px;
            padding-top: 30px;
        }
    </style>
</head>
<header id="header" class="">
    <div class="container d-flex align-items-center">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-1">

            </div>

            <div class="col-12 col-lg-12">
                <nav class="nav-menu d-none d-lg-block">

                    <ul>
                        <li class="drop-down">
                            <a href="/AdminList">Admins</a>
                            <ul>
                                <li><a href="/AdminList/Create">Add Admin</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/SalesExecutiveList">Sales Executives</a>
                            <ul>
                                <li><a href="/SalesExecutiveList/Create">Add Sales Executive</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/BuyingAgentList">BuyingAgents</a>
                            <ul>
                                <li><a href="/BuyingAgentList/Create">Add Buying Agent</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/ProductList">Products</a>
                            <ul>
                                <li><a href="/ProductList/Create">Add Products</a></li>
                                <li><a href="/ProductList/Add">Add Quantity</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/Sales">Sales</a>
                        </li>
                        <li class="drop-down">
                            <a href="/Profits">Profits</a>
                        </li>
                        <li class="drop-down">
                            Settings

                            <ul>
                                <li><a href="/AdminSettings">Update Profile</a></li>
                                <li><a href="/AdminSettings/ChangePassword">Change Password</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/AdminProfile">Profile</a>
                        </li>
                        <li class="drop-down">
                            <a href="/Logout">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>


<main id="main ">
    <div class="container">
        <br /><br /><br />
        <div class="row mt-2 justify-content-center">
            <div class="col-12 col-lg-7 text-center">
                @using (Html.BeginForm("UpdateProfile", "AdminSettings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <table border="1">
                        <tr>
                            <td colspan="5" align="center"><h3>@Html.DisplayFor(model => model.FullName)'s Information</h3></td>
                        </tr>&nbsp;&nbsp;
                        <tr>
                            <td rowspan="11">
                                <img src="~/Contents/Upload_Files/Admins/@Html.DisplayFor(model => model.ProfilePic)" alt="" height="300" width="250" />
                                <input type="hidden" name="id" value="@Html.DisplayFor(model => model.Id)" />
                            </td>
                            <td rowspan="11" width="2%">&nbsp;</td>
                            <td width="20%">User Name</td>
                            <td rowspan="11" width="5%">&nbsp;</td>
                            <td width="50%">@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        </tr>
                        &nbsp;&nbsp;
                        <tr>
                            <td>Email</td>
                            <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        </tr>&nbsp;&nbsp;
                        <tr>
                            <td>Password</td>
                            <td>@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @readonly = "readonly" } })</td>
                        </tr>&nbsp;&nbsp;
                        <tr>
                            <td>Phone</td>
                            <td><input name="phone" type="text" class="form-control" value="@Html.DisplayFor(model => model.Phone)" data-val="true" data-val-required="You must enter your phone number" data-val-range-min="0" and data-val-range-max="99999999999" data-val-range="Enter a valid phone number" /></td>
                        </tr>
                        <tr><td colspan="2">@Html.ValidationMessage("phone", new { @class = "text-danger" })</td></tr>
                        &nbsp;&nbsp;

                        <tr>
                            <td>Address</td>
                            <td><input name="address" type="text" class="form-control" value="@Html.DisplayFor(model => model.Address)" data-val="true" data-val-required="Address cannot be empty"></td>
                        </tr>
                        <tr><td colspan="2">@Html.ValidationMessage("phone", new { @class = "text-danger" })</td></tr>
                        &nbsp;&nbsp;

                        <tr>
                            <td>Image</td>
                            <td>
                                @Html.HiddenFor(model => model.ProfilePic)
                                <input type="file" name="image" class="form-control" />
                            </td>
                        </tr>&nbsp;&nbsp;

                        <tr>
                            <td>Joining Date</td>
                            <td>@Html.EditorFor(model => model.JoiningDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        </tr>&nbsp;&nbsp;
                        <tr>
                            <td>Last Updated</td>
                            <td>@Html.EditorFor(model => model.LastUpdated, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        </tr>&nbsp;&nbsp;
                        <tr><td colspan="3" align="right"><input type="submit" value="Save" class="btn btn-warning" /></td></tr>
                    </table>
                }
            </div>
        </div>
    </div>
</main>

<script src="~/Contents/vendor/jquery/jquery.min.js"></script>
<script src="~/Contents/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Contents/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="~/Contents/vendor/php-email-form/validate.js"></script>
<script src="~/Contents/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="~/Contents/vendor/counterup/counterup.min.js"></script>
<script src="~/Contents/vendor/venobox/venobox.min.js"></script>
<script src="~/Contents/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="~/Contents/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/Contents/vendor/aos/aos.js"></script>
<script src="~/Contents/Scripts_Files/main.js"></script>
<script src="~/Contents/Scripts_Files/productSearch.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
