<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <link href="~/Contents/vendor/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/Contents/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Contents/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Contents/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Contents/CSS_Files/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <style>
        .featured-item-box {
            min-height: 150px;
            background: #3b555d;
            min-width: 80px;
            color: white;
            border-radius: 5px;
            padding-top: 30px;
        }
    </style>
</head>

<body>
    <header id="header" class="">
        <div class="container d-flex align-items-center">
            <div class="row justify-content-center">
                <div class="col">
                    <h1 class="logo text-center"><a href="/BuyingAgentHome" class="text-success" style="margin-left:15em">Online Tech Shop</a></h1>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <!--Main Body Starts-->
    <main id="main ">
        <div class="">
            <div class="row mt-2 justify-content-around">
                <div class="col-12 col-lg-2 border border-secondary rounded p-3">
                    <div class="text-left mt-2">
                        <a class="btn-block btn-primary rounded btn-sm" href="/BuyingAgentProfile">Profile</a>
                        <a class="btn-block btn-success rounded btn-sm" href="/BuyingAgentProfile/BuyingHistory">View Buying History</a>
                        <a class="btn-block btn-secondary rounded btn-sm" href="/Chart">Buying Category Chart</a>
                        <a class="btn-block btn-danger rounded btn-sm" href="/BuyingAgentLogOut">Logout</a>
                    </div>
                </div>
                <div class="col-12 col-lg-9 border border-secondary rounded p-3">
                    <h5>
                        <b>Pending Requests:</b>
                    </h5>
                    <hr />
                    <form method="POST" action="/BuyingAgentHome">
                        <h6>
                            Sort By:
                            <select name="sortBy" >
                                <option value="Price" @(ViewBag.SelectedOption == "Price" ? "selected" : "")> Price</option>
                                <option value="Quantity" @(ViewBag.SelectedOption == "Quantity" ? "selected" : "")>Quantity</option>
                            </select>
                            <input type="submit" value="Go"/>
                        </h6>
                    </form>
                    <br />
                    <span class="text-danger">@TempData["msg"]</span>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Customer ID</th>
                            <th>Product Name</th>
                            <th>Product Description</th>
                            <th>Requested Price</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Features</th>
                            <th>Quantity</th>
                            <th>Source</th>
                            <th>Options</th>
                        </tr>
                        @foreach (var item in ViewBag.OldProducts)
                        {
                            <tr>
                                <td>@item.CutomerId</td>
                                <td>@item.ProductName</td>
                                <td>@item.ProductDescription</td>

                                <td>@item.BuyingPrice</td>
                                <td>@item.Category</td>
                                <td>@item.Brand</td>
                                <td>@item.Features</td>
                                <td>@item.Quantity</td>
                                <td>@item.Source</td>
                                <td>
                                    <a class="btn-block btn-success rounded btn-sm" href="/BuyingAgentHome/AcceptOldProduct/@item.Id"> Accept </a>
                                    <a class="btn-block btn-danger rounded btn-sm" href="/BuyingAgentHome/RejectOldProduct/@item.Id"> Reject </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container d-md-flex py-4">
            <a href="/Home" style="margin-left: 30em"> Online Tech Shop &nbsp; </a> <p style="margin-right: 30em"> &copy All rights reserved </p>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>
    <script src="~/Contents/vendor/jquery/jquery.min.js"></script>
    <script src="~/Contents/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Contents/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Contents/vendor/php-email-form/validate.js"></script>
    <script src="~/Contents/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Contents/vendor/counterup/counterup.min.js"></script>
    <script src="~/Contents/vendor/venobox/venobox.min.js"></script>
    <script src="~/Contents/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Contents/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Contents/vendor/aos/aos.js"></script>
    <script src="~/Contents/Scripts_Files/main.js"></script>
    <script src="~/Contents/Scripts_Files/customerRegistration.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>

</html>
