<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Check Out</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <link href="~/Contents/vendor/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/Contents/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Contents/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Contents/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Contents/CSS_Files/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">


    <style>
        .featured-item-box {
            min-height: 150px;
            background: #3b555d;
            min-width: 80px;
            color: white;
            border-radius: 5px;
            padding-top: 30px;
        }
    </style>
</head>

<body>
    <header id="header" class="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-7">
                    <h1 class="logo"><a href="/Home" class="text-success">Online Tech Shop</a></h1>
                </div>
                <div class="col-lg-5 col-12">
                    <a href="/Cart" class="btn btn-light btn-sm">
                        <i class="icofont-cart-alt h6"> Cart <span class="badge  badge-danger">@Session["cart_quantity"]</span> </i>
                    </a> | <a href="/CompareProducts" class="btn-sm  btn-info">Compare Products</a>
                    @if ((string)Session["user_status"] == "Active")
                    {
                        <a href="/CustomerProfile" class="btn-sm btn-success">My Account</a> <a href="/CustomerLogOut" class="btn-sm btn-danger">Logout</a>
                    }
                    else
                    {
                        <a href="/CustomerRegistration" class="btn-sm btn-success">Register</a> <a href="/CustomerLogin" class="btn-sm btn-primary">Login</a>
                    }

                </div>
                <div class="col-12 col-lg-6">
                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="drop-down">
                                <a href="/Components">Components</a>
                                <ul>
                                    <li class="drop-down">
                                        <a href="/Components/Ram">Ram</a>
                                        <ul>
                                            <li><a href="/Components/RamBrand?brand=Corsair">Corsair</a></li>
                                            <li><a href="/Components/RamBrand?brand=Gskill">GSkill</a></li>
                                            <li><a href="/Components/RamBrand?brand=Adata">Adata</a></li>
                                            <li><a href="/Components/RamBrand?brand=Avexir">Avexir</a></li>
                                        </ul>
                                    </li>
                                    <li class="drop-down">
                                        <a href="/Components/SSD">SSD</a>
                                        <ul>
                                            <li><a href="/Components/SSDBrand?brand=Corsair">Corsair</a></li>
                                            <li><a href="/Components/SSDBrand?brand=Samsung">Samsung</a></li>
                                            <li><a href="/Components/SSDBrand?brand=Gigabyte">Gigabyte</a></li>
                                        </ul>
                                    </li>
                                    <li class="drop-down">
                                        <a href="/Components/GraphicsCard">Graphics Card</a>
                                        <ul>
                                            <li><a href="/Components/GraphicsCardBrand?brand=Gigabyte">Gigabyte</a></li>
                                            <li><a href="/Components/GraphicsCardBrand?brand=Zotac">Zotac</a></li>
                                            <li><a href="/Components/GraphicsCardBrand?brand=Asus">Asus</a></li>
                                            <li><a href="/Components/GraphicsCardBrand?brand=MSI">MSI</a></li>
                                        </ul>
                                    </li>

                                    <li class="drop-down">
                                        <a href="/Components/Casing">Casing</a>
                                        <ul>
                                            <li><a href="/Components/CasingBrand?brand=Corsair">Corsair</a></li>
                                            <li><a href="/Components/CasingBrand?brand=Gamdias">Gamdias</a></li>
                                            <li><a href="/Components/CasingBrand?brand=Cooler Master">Cooler Master</a></li>
                                        </ul>
                                    </li>

                                    <li class="drop-down">
                                        <a href="/Components/MotherBoard">Mother Board</a>
                                        <ul>
                                            <li><a href="/Components/MotherboardBrand?brand=Gigabyte">Gigabyte</a></li>
                                            <li><a href="/Components/MotherboardBrand?brand=Asus">Asus</a></li>
                                            <li><a href="/Components/MotherboardBrand?brand=MSI">MSI</a></li>
                                        </ul>
                                    </li>

                                    <li class="drop-down">
                                        <a href="/Components/CPU">CPU</a>
                                        <ul>
                                            <li><a href="/Components/CPUBrand?brand=Intel">Intel</a></li>
                                            <li><a href="/Components/CPUBrand?brand=AMD">AMD</a></li>
                                        </ul>
                                    </li>

                                    <li class="drop-down">
                                        <a href="/Components/CoolingFan">Cooling Fan</a>
                                        <ul>
                                            <li><a href="/Components/CoolingFanBrand?brand=Corsair">Corsair</a></li>
                                            <li><a href="/Components/CoolingFanBrand?brand=Gamdias">Gamdias</a></li>
                                            <li><a href="/Components/CoolingFanBrand?brand=Cooler Master">Cooler Master</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="/Laptop">Laptops</a>
                                <ul>
                                    <li><a href="/Laptop/LaptopBrand?brand=HP">HP</a></li>
                                    <li><a href="/Laptop/LaptopBrand?brand=Asus">Asus</a></li>
                                    <li><a href="/Laptop/LaptopBrand?brand=Apple">Apple</a></li>
                                    <li><a href="/Laptop/LaptopBrand?brand=Razer">Razer</a></li>
                                    <li><a href="/Laptop/LaptopBrand?brand=Microsoft">Microsoft</a></li>
                                    <li><a href="/Laptop/LaptopBrand?brand=Acer">Acer</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="/Monitor">Monitor</a>
                                <ul>
                                    <li><a href="/Monitor/MonitorBrand?brand=HP">HP</a></li>
                                    <li><a href="/Monitor/MonitorBrand?brand=Dell">Dell</a></li>
                                    <li><a href="/Monitor/MonitorBrand?brand=LG">LG</a></li>
                                    <li><a href="/Monitor/MonitorBrand?brand=Samsung">Samsung</a></li>
                                    <li><a href="/Monitor/MonitorBrand?brand=BenQ">BenQ</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="/Accessories">Accessories</a>
                                <ul>
                                    <li class="drop-down">
                                        <a href="/Accessories/Keyboard">Keyboard</a>
                                        <ul>
                                            <li><a href="/Accessories/KeyboardBrand?brand=Logitech">Logitech</a></li>
                                            <li><a href="/Accessories/KeyboardBrand?brand=A4Tech">A4Tech</a></li>
                                            <li><a href="/Accessories/KeyboardBrand?brand=Gamdias">Gamdias</a></li>
                                        </ul>
                                    </li>
                                    <li class="drop-down">
                                        <a href="/Accessories/Mouse">Mouse</a>
                                        <ul>
                                            <li><a href="/Accessories/MouseBrand?brand=Logitech">Logitech</a></li>
                                            <li><a href="/Accessories/MouseBrand?brand=A4Tech">A4Tech</a></li>
                                            <li><a href="/Accessories/MouseBrand?brand=Gamdias">Gamdias</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- .nav-menu -->
                </div>
                <div class="col-12 col-lg-8 text-center">
                    <input class="form-control" id="searchBox" name="searchtext" placeholder="Search Products..." type="text">
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <!--Main Body Starts-->
    <main id="main ">
        <div class="">
            <div class="row mt-2 justify-content-around">
                <div class=" col-12 col-lg-6 text-center">
                    <span class="text-danger">@TempData["msg"]</span>
                    <h3>Order Overview</h3>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th>Tax</th>
                            <th>Total Price</th>
                        </tr>    
                        @{ 
                            var totalDiscount = 0;
                            var totalTax = 0;
                            decimal subtotal = 0;

                            foreach (var item in ViewBag.Cart)
                            {
                                totalDiscount = @item.Discount + totalDiscount;
                                totalTax = @item.Tax + totalTax;
                                subtotal = (@item.TotalPrice * @item.Quantity) + subtotal;

                            <tr>
                                <td>P-@item.ProductId</td>
                                <td>@item.ProductName</td>
                                <td>@item.Brand</td>
                                <td>@item.UnitPrice BDT</td>
                                <td>
                                    @item.Quantity Pcs
                                </td>
                                <td>@item.Discount%</td>
                                <td>@item.Tax%</td>
                                <td>@(item.TotalPrice * item.Quantity) BDT</td>
                            </tr>
                            }
                        <tr class="text-left">
                            <td colspan="1"><b>Total Tax:</b> </td>
                            <td colspan="8">@(subtotal * totalTax / 100) BDT (@totalTax%)</td>
                        </tr>
                        <tr class="text-left">
                            <td colspan="1"><b>Total Discount:</b> </td>
                            <td colspan="8">@(subtotal * totalDiscount / 100) BDT (@totalDiscount%)</td>
                        </tr>
                        <tr class="text-left">
                            <td colspan="1"><b>Sub Total:</b> </td>
                            <td colspan="8">@subtotal BDT</td>
                        </tr>
                            }
                    </table>
                </div>
                <div class="col-12 col-lg-5">
                    <h3>Payment and Shipping Details</h3>
                    <form method="post" action="">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th class="w-25">Customer Name : </th>
                                <td><input class="form-control" type="text" value="@Model.CustomerFullName" name="CustomerFullName" /></td>
                            </tr>
                            <tr>
                                <th class="w-25">Phone Number : </th>
                                <td><input class="form-control" type="text" value="@Model.Phone" name="Phone" /></td>
                            </tr>
                            <tr>
                                <th class="w-25">Billing Address : </th>
                                <td><input class="form-control" type="text" value="@Model.BillingAddress" name="BillingAddress" /></td>
                            </tr>
                            <tr>
                                <th class="w-25">Shipping Address : </th>
                                <td><input class="form-control" type="text" value="@Model.ShippingAddress" name="ShippingAddress" /></td>
                            </tr>
                            <tr>
                                <th class="w-25">Shipping Method : </th>
                                <td>
                                    <select name="ShippingMethod" class="form-control" id="ShippingMethod">
                                        @if (Model.ShippingMethod == "Card Payment")
                                        {
                                            <option value="Card Payment" selected>Card Payment</option>
                                            <option value="Cash on Delivery">Cash on Delivery</option>
                                        }
                                        else
                                        {
                                            <option value="Card Payment">Card Payment</option>
                                            <option value="Cash on Delivery" selected>Cash on Delivery</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr class="cardPaymentDivs">
                                <th>Card Type : </th>
                                <td>
                                    <select name="CardType" class="form-control">
                                        @if (Model.CardType == "VISA")
                                        {
                                            <option value="VISA" selected>VISA</option>
                                            <option value="MasterCard">MasterCard</option>
                                            <option value="Amex">Amex</option>
                                        }
                                        else if (Model.CardType == "MasterCard")
                                        {
                                            <option value="VISA">VISA</option>
                                            <option value="MasterCard" selected>MasterCard</option>
                                            <option value="MasterCard">MasterCard</option>
                                        }
                                        else
                                        {
                                            <option value="VISA">VISA</option>
                                            <option value="MasterCard">MasterCard</option>
                                            <option value="MasterCard" selected>MasterCard</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr class="cardPaymentDivs">
                                <th>Card Number: </th>
                                <td><input type="text" value="@Model.CardNumber" class="form-control" /></td>
                            </tr>
                            <tr class="cardPaymentDivs">
                                <th>Expiration Month : </th>
                                <td><input type="number" value="@Model.ExpirationMonth" class="form-control" /></td>
                            </tr>
                            <tr class="cardPaymentDivs">
                                <th>Expiratin Year : </th>
                                <td><input type="number" value="@Model.ExpirationYear" class="form-control" /></td>
                            </tr>
                            <tr>
                                <th>Promo Code : </th>
                                <td><input type="text" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="submit" class="form-control btn btn-success">Confirm Order</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container d-md-flex py-4">
            <div class="mr-md-auto text-center text-md-left">
                <div class="credits">
                    Call Us: <b><i>01xxxxxxxx</i></b><br> Emal: <b><i>onlinetechshop@gmail.com</i></b><br> Address: <b><i>Dhaka, Bangladesh</i></b><br>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>
    <script src="~/Contents/vendor/jquery/jquery.min.js"></script>
    <script src="~/Contents/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Contents/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Contents/vendor/php-email-form/validate.js"></script>
    <script src="~/Contents/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Contents/vendor/counterup/counterup.min.js"></script>
    <script src="~/Contents/vendor/venobox/venobox.min.js"></script>
    <script src="~/Contents/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Contents/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Contents/vendor/aos/aos.js"></script>
    <script src="~/Contents/Scripts_Files/main.js"></script>
    <script src="~/Contents/Scripts_Files/productComparison.js"></script>
    <script src="~/Contents/Scripts_Files/productSearch.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#ShippingMethod").on("change", function () {
                //alert($("#ShippingMethod").val());
                if ($("#ShippingMethod").val() == "Cash on Delivery") {
                    $(".cardPaymentDivs").hide();
                }
                else if ($("#ShippingMethod").val() == "Card Payment") {
                    $(".cardPaymentDivs").show();
                }
            });
        });
    </script>
</body>

</html>